ul {
    list-style-type: none;
}

li::before {
    content: '- ';
}
.name {
    display: inline-block;
    width: 80px;
    background-color: yellow;
}

/* th {
    background-color: paleturquoise;
}

td {
    background-color: skyblue;
    text-align: center;
} */

table > thead > tr:nth-child(1) {
    background-color: gray;
    color: yellow;
}

table > tbody > tr:nth-child(2n+1) {
    background-color: rgb(228,227,227);
    color: yellow;
}

/* tr.pass {
    color: blue;
}

tr.fail {
    color: red;
}
*/
td.pass {
    color: blue;
}

td.fail {
    color: red;
} 
